Src/Service References/NrdbService/script.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="intelesms.services" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="intelesms.services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Query Norwegian mobile number registry</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="intelesms.services">
      <s:element name="Query">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="tns:LoginClass" />
            <s:element minOccurs="1" maxOccurs="1" name="mobile" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LoginClass">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CustomerId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="QueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryResult" type="tns:NrdbStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="NrdbStatus">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="tns:ErrorCodeEnum" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCodeDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Msisdn" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Mnc" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Mcc" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Spid" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="QueryDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="HasChanged" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="QueriesLeft" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="QueryTime" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ErrorCodeEnum">
        <s:restriction base="s:string">
          <s:enumeration value="ClientSystemError" />
          <s:enumeration value="ClientInvalidLogin" />
          <s:enumeration value="ClientMaxQueryReached" />
          <s:enumeration value="ClientInvalidMsisdn" />
          <s:enumeration value="ClientInetFailure" />
          <s:enumeration value="Success" />
          <s:enumeration value="RemoteInvalidMsisdn" />
          <s:enumeration value="RemoteNonExistingNumber" />
          <s:enumeration value="RemoteSystemError" />
          <s:enumeration value="RemoteMaxQueryReached" />
          <s:enumeration value="RemoteInvalidLogin" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QuerySoapIn">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="QuerySoapOut">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:portType name="Nrdb_x0020_Lookup_x0020_ServiceSoap">
    <wsdl:operation name="Query">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Query Nrdb</wsdl:documentation>
      <wsdl:input message="tns:QuerySoapIn" />
      <wsdl:output message="tns:QuerySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Nrdb_x0020_Lookup_x0020_ServiceHttpGet" />
  <wsdl:portType name="Nrdb_x0020_Lookup_x0020_ServiceHttpPost" />
  <wsdl:binding name="Nrdb_x0020_Lookup_x0020_ServiceSoap" type="tns:Nrdb_x0020_Lookup_x0020_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Query">
      <soap:operation soapAction="intelesms.services/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Nrdb_x0020_Lookup_x0020_ServiceSoap12" type="tns:Nrdb_x0020_Lookup_x0020_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Query">
      <soap12:operation soapAction="intelesms.services/Query" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Nrdb_x0020_Lookup_x0020_ServiceHttpGet" type="tns:Nrdb_x0020_Lookup_x0020_ServiceHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="Nrdb_x0020_Lookup_x0020_ServiceHttpPost" type="tns:Nrdb_x0020_Lookup_x0020_ServiceHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="Nrdb_x0020_Lookup_x0020_Service">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Query Norwegian mobile number registry</wsdl:documentation>
    <wsdl:port name="Nrdb_x0020_Lookup_x0020_ServiceSoap" binding="tns:Nrdb_x0020_Lookup_x0020_ServiceSoap">
      <soap:address location="https://services.intelesms.no/nrdb/script.asmx" />
    </wsdl:port>
    <wsdl:port name="Nrdb_x0020_Lookup_x0020_ServiceSoap12" binding="tns:Nrdb_x0020_Lookup_x0020_ServiceSoap12">
      <soap12:address location="https://services.intelesms.no/nrdb/script.asmx" />
    </wsdl:port>
    <wsdl:port name="Nrdb_x0020_Lookup_x0020_ServiceHttpGet" binding="tns:Nrdb_x0020_Lookup_x0020_ServiceHttpGet">
      <http:address location="https://services.intelesms.no/nrdb/script.asmx" />
    </wsdl:port>
    <wsdl:port name="Nrdb_x0020_Lookup_x0020_ServiceHttpPost" binding="tns:Nrdb_x0020_Lookup_x0020_ServiceHttpPost">
      <http:address location="https://services.intelesms.no/nrdb/script.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>